
  

  .typewriter h5{
    color: #9a1750;
    overflow:hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(300, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(255, 255, 255, 0) }
  }





  

  
  .photos{
    position: absolute;
    display: block;
  }
  
  .photos img{
    border-radius: 500px;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photos:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  }
  
  .photos .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
  }
  
  .photos .glow{
    display: block;
    position:absolute;
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,.2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photos:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photos:hover img,
  .photos:hover .glow-wrap{
    margin-top: 0;
  }
  

  
  
.image-wrapper img
{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;

}

@keyframes floatImage
{
    0%
    {
        transform: translateY(0);
    }

    50%
    {
        transform: translateY(-2.4rem);
    }


    100%
    {
        transform: translateY(0);
    }
}
  /* Ends */
